{
    "printWidth": 120,
    "useTabs": false,
    "semi": true,
    "tabWidth": 2,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "parser": "flow"
}
